
button{
    font-size: 25px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}
